.link {
  color: white;
  text-decoration: none;
}

.link:visited {
  color: white;
}
.link:active {
  color: #38acf4;
}

.menuBtn:hover {
  font-weight: bold;
  color: white;
}

.menuItem:hover {
  font-weight: bold;
  color: #0798f2;
}
